[Unit]
Description=Triggers Desktop Pi hardware poweroff
DefaultDependencies=no
Before=poweroff.target

[Service]
Type=oneshot
ExecStart=/usr/share/rpi-desktop-ubos-state/bin/start-countdown
RemainAfterExit=yes

[Install]
WantedBy=poweroff.target

