[Unit]
Description=pidesktop reboot service
DefaultDependencies=no
Before=reboot.target

[Service]
Type=oneshot
ExecStart=/usr/share/rpi-desktop-ubos-state/bin/reboot

[Install]
WantedBy=reboot.target
