[Unit]
Description=Flashes the LED on the Desktop Pi without triggering poweroff

[Service]
Type=simple
ExecStart=/usr/share/rpi-desktop-ubos-state/bin/start-flashing
ExecStopPost=/usr/share/rpi-desktop-ubos-state/bin/stop-flashing
